@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/form_backimg.png);
    background-position: center;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-contact__heading {
    margin-top: 100px;
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: 700;
}

.form-contact__title {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    width: 350px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin: 48px 0 35px 0;
}

.form-contact__wrapper {
    width: 800px;
    display: flex;

}

.form-contact__form {
    display: flex;
    flex-direction: column;
    margin-right: 170px;
}

.form__input {
    background-color: #00c4c4;
    color: #fff;
    opacity: 0.5;
    border: none;
    resize: none;
    outline: none;
    height: 50px;
    width: 500px;
    margin: 5px 0;
    padding-left: 10px;
}

.form__input--message {
    background-color: #00c4c4;
    color: #fff;
    opacity: 0.5;
    border: none;
    resize: none;
    outline: none;
    width: 500px;
    margin: 5px 0;
}

.form__input--message::placeholder {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 10px 0 0 10px;
    margin: 5px 0;
}



.form__input::placeholder {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;


}

.submit__button {
    visibility: hidden;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: #00c4c4;
    color: #fff;
    border: none;
    width: 50%;
    height: 70px;
    align-self: flex-end;
}

.form__input--message:hover .submit__button {
    visibility: visible;

}

.info__contact--1 {
    text-transform: uppercase;
    color: #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-weight: bold;

}

.info__contact--2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100vw;
    background-color: #262626;
}

.footer__reserve {
    color: #b9b9b9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.footer__logo {
    color: #b9b9b9;
    font-family: Pacifico;
    font-size: 25px;
}

.footer__madeby {
    font-family: 'Raleway', sans-serif;
    color: #b9b9b9;
    font-size: 15px;
    font-weight: 300;
}

.madeby__item {
    font-family: 'Raleway', sans-serif;
    color: #ff2b58;
    font-weight: 700;
}