.services {
    display: flex;
    background-color: #70bfff;
    width: 100vw;
    height: 720px;
    justify-content: space-around;
    align-items: center;
}

.services__button {
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.services__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    color: #262626;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-left: 0.1px solid gray;
    font-size: 40px;
}

.services__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 462px;
    height: 527px;
    background-image: url(../images/tomato.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.services__heading2 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 700;
}