.subscribe-to-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    background-image: url(../images/subscribe_bgd.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 500px;
    margin-left: 10%;

}

.subscribe-to-us__heading {
    color: #262626;
    font-size: 40px;
    font-weight: 700;
}

.subscribe-to-us__title {
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    width: 45%;
    margin: 25px 0;
}

.subscribe-to-us__form {}

.subscribe-to-us__form__input {
    width: 570px;
    height: 55px;
    border: 1px solid #262626;
    padding-left: 10px;
}

.subscribe-to-us__form__submit {
    cursor: pointer;
    width: 170px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}