 /* Media rules Desctop first */

 @media screen and (max-width: 946px) {
     .header {
         flex-direction: column;
     }
     .nav__list {
         margin-top: 1em;
         font-size: 1.5em;
     }

     .title__middle {
         font-size: 4em;
     }

     .middle__text {
         font-size: 0.9em;
     }

     .services__heading2 {
         font-size: 4em;
     }

     .blog__heading {
         font-size: 4em;
     }

     .who-we-are {
         height: 80%;
     }

     .who-we-are__cards {
         flex-wrap: wrap;
     }
     .who-we-are__cards {
         width: 40%;

 }

 @media screen and (max-width: 720px) { 
     .nav__list {
         flex-direction: column;
         text-align: end;
     }
     .nav {
         visibility: hidden;
     }

     .top-section__menu {
         display: flex;
     }

     #chbx:checked+.nav {
         visibility: visible;
         width: 85%;
     }
     .who-we-are__cards {
         width: 40%;
     }
     .title__heading {
         font-size: 3em;
         text-align: center;
     }
     .title-wrap {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 100%;
     }
     .title__link {
         text-align: center;
         font-size: 2em;
     }

     .middle-section {
         flex-direction: column;
     }

     .services {
         flex-direction: column;
     }

     .title__middle {
         text-align: center;
     }

     .services__logo {
         width: 30%;
         font-size: 10px;
     }

     .services__button {
         margin-top: 10px;
     }

     .services__text {
         font-size: 1.5em;
     }

    .gallery {
         display: none;
     }
     .blog__cards {
         overflow: scroll;
         flex-wrap: wrap;
     }

     .form-contact__wrapper {
         flex-wrap: wrap;
         overflow: scroll;
         width: 100%;
         }

         .who-we-are__heading {
             margin-top: 2rem;
     }
}
;