@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    max-height: 1072px;
    background-image: url(../images/hero-bg.jpg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper {
    width: 50%;
    max-width: 595px;
    min-width: 595px;
    max-height: 672px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    width: 67px;
    height: 70px;
    background-image: url(../images/logo.svg.svg);
}

.header__heading {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8.62px;
    margin: 94px 0 53px 0;
}

.header__title {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    line-height: 29px;
    /*need it here according design */
    margin-bottom: 120px;
}

/* ABOUT US */

.about-us {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__wrapper {
    text-align: center;
    max-width: 902px;
    max-height: 326px;
}

.about-us__header {
    padding: 0 20px;
    background-color: #fff;
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
}

.about-us__title {
    padding: 0 15%;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    /*need it here according design */
}

.title_narrow {
    padding: 0 10%;
}

/* Services section */

.services {
    width: 100vw;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/services_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services__wrapper {
    text-align: center;
    max-width: 902px;
    max-height: 326px;
    border: 2px solid rgb(255, 255, 255);
}

.services__header {
    padding: 0 65px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
}


.services__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.89px;
    text-align: center;
    padding: 0 15%;
}

/* Section What We Do */

.what-we-do {
    max-height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do__wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 60%;
    max-width: 902px;
}

.what-we-do__header {
    text-align: center;
    padding: 0 65px;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    background-color: #fff;
}

.what-we-do__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-do__logo {
    width: 3rem;
}

.what-we-do__logo-title {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5.26px;
}

.what-we-do__title {
    width: 60%;
    text-align: center;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
    text-align: center;
}

/* Our works */

.ourworks {
    margin: 100px 0;
    height: 400px;
    width: 100vw;
}

.ourworks__deck-one {
    display: flex;
    height: 50%;
    margin-bottom: 5px;
}

.ourworks__item {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 8.95px;
}

.deck-one__item-one {
    background-image: url(../images/Layer_5_copy.png);
    margin-right: 5px;
}

.deck-one__item-two {
    background-image: url(../images/Layer_5_copy_4.png);
}

.deck-one__item-three {
    background-image: url(../images/layers\ \(3\).png);
    margin-left: 5px;
}

.ourworks__deck-two {
    display: flex;
    height: 50%;
}

.deck-two__item-one {
    background-image: url(../images/Layer_5_copy_4.png);
    margin-right: 5px;
}

.deck-two__item-two {
    background-image: url(../images/layer\ 4.png);
}

.deck-two__item-three {
    background-image: url(../images/Layer_5_copy.png);
    margin-left: 5px;
}

/* CONTACT US*/

.contact {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__wrapper {
    height: 100%;
    text-align: center;
    max-width: 902px;
    max-height: 326px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact__header {
    background-color: #fff;
    padding: 0 90px;
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
}

.contact__title {
    padding: 0 10%;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    /*need it here according design */
}

.contact__button {
    /* Style for "Message co" */
    width: 30%;
    height: 58px;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.54px;
}

/* FOOTER */

.footer {
    background-color: rgba(128, 128, 128, 0.166);
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer__logo {
    background-image: url(../images/Ellipse_1_copy_12.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 37px;
    color: black;
    padding: 2px;
}

.footer__title {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 400;
}
/* Responsive */
@media (max-width: 992px) {
    .header {
        background-position: right;
    }

    .services {
        align-items: center;
    }

    .services__wrapper {
        width: 100%%;
    }

}

@media (max-width: 768px) {
    .what-we-do__wrapper {
        width: 100%;
    }
}